.header{
    display: flex;
    justify-content: center;
    height: 97vh;
    align-items: center;
    background-color:gray;

}
  

#imgOfSymbol{
    height: 100px;
    width:auto;
}
h1{
    background:red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainpart{
    display: none;
}